.container-1 {
    position: relative;
    width: 90%;
    max-width: 160px;
  }
  .image {
    display: block;
    box-sizing: border-box;
    max-height: 240px;
    height: auto;
    width: auto;
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    box-sizing: border-box;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 16px;
    padding: 16px;
    text-align: center;
  }
  .d-lex:hover .overlay {
    opacity: 1;
  }