.container {
  position: relative;
  width: 90%;
  max-width: 190px;
}
.imagee {
  display: block;
  box-sizing: border-box;
  max-height: 280px;
  height: auto;
  width: auto;
}
.overlayy {
  position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  width: 100%;
  box-sizing: border-box;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 16px;
  padding: 16px;
  text-align: center;
}
.d-lex:hover .overlayy {
  opacity: 1;
}
.container{
  padding: 0px;
}